* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}
html {
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
}
body {
  min-height: 100vh;
  background: #fff;
}

img{
  border-radius: 8px;
}
:root {
  --primary-color:#9353e8;
}

.header{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(130 200 220);
  display: flex;
  justify-content: center;
  /* border-radius: 8px; */
  z-index: 1;
}

.header-content {
  display: flex;
  height: 50px;
  width: 1000px;
  max-width: 100%;
  
}
.logo {
  font-size: 40px;
  text-decoration: none;
  color: whitesmoke;
  line-height: 50px;
}
.logo:hover{
  transform: scale(1.15);
}
.menu{
  flex: 7;
}
.menu .type-list{
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu .type-list .type-item{
  width: 17%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  cursor: pointer;
}

.type-item > a {
  text-decoration: none;
  color: #fff;
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}


.type-list .type-item:hover> a {
  opacity: 0.7;
}

/* .type-list .type-item:hover{
  color: rgb(130 200 220);
  background-color: whitesmoke;
  border-radius: 8px;
} */
.user {
  color: whitesmoke;
  position: relative;
  font-size: 26px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.user-name {
  margin: 0 5px;
}


.user p {
  font-size: 16px;
}
.user .sort-down{
  font-size: 18px;
  margin-bottom: 4px;
}
.user-info a{
  text-decoration: none;
  color: rgb(138, 131, 131);
}

.user-info a:hover {
  opacity: 0.7;
}

.user-info{
  margin-left: 8px;
  background-color: #fff;
  color: rgb(138, 131, 131);
  position: absolute;
  top: 51px;
  left: -28px;
  font-size: 14px;
  width: 150px;
  display: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.user-info-icon {
  padding-right: 10px;
  padding-left: 4px;
}

.user:hover > p,
.user:hover > i{
  opacity: 0.7;
}

.user:hover .user-info{
  display: block;
}
.user-info span{
  display: flex;
  padding-top: 12px;
}

.user-info span:last-child {
  padding-bottom: 10px;
}

/* slider */
.sliders {
  width: 1000px;
  max-width: 100%;
  margin: auto;
  margin-top: 51px;
}
.mySlides {
  width: 100%;
  max-width: 100%;
  padding-top: 50%;
  /* background-image: url(./img/background.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 200px; */

}

.slider1 {
  background-image: url('https://photo-zmp3.zadn.vn/banner/8/3/b/c/83bcfc637f6b62b7bacea13426b81fd3.jpg');
}
.slider2 {
  background-image: url('./img/background.jpg');
 
}
.slider3 {
  background-image: url('https://photo-zmp3.zadn.vn/banner/b/d/5/f/bd5fa8a1263f202a389308f4afa67a04.jpg');
 
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4;
  }  
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade {
  from {
    opacity: .4;
  }  
  to {
    opacity: 1;
  }
}

/* content */
/* 
.content-flex{
  margin-top: 50px;
  display: flex;
  justify-content: center;
} */

/* .content {
  margin-top: 0px;
} */
.content__section-heading{
  margin-bottom: 20px;
}
.content__section {
  margin-bottom: 30px;
  padding-top: 50px;
}
.content__section-img {
  width: 100%;
}

.content-section-des {
  color: #000;
  font-weight: 500;
  text-align: center;
  margin-top: 5px;
}
.play-btn {
  color: whitesmoke;
  display: none !important ;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 40px;
}
.relative-play-btn:hover > .play-btn{
  display: inline-block !important;
  cursor: pointer;
}
.col:hover  img {
  opacity: 0.6;
  transform: scale(1.05);
}

/* BXH */
.content-ranking .play-btn{
  font-size: 20px;
}

.content-ranking{
  margin-top: 50px;
  
}

.content-ranking > h1 {
  margin-bottom: 20px;
}

.top-song {
  display: flex;
  height: 100%;
}

.top-song-img img {
  width: 120px;
}

.top-song-des, .low-song-des {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 8px;
}

.top-song-name,.low-song-name {
  font-weight: 500;
}

.top-song-auth , .low-song-auth{
  color: rgb(167, 165, 165);
  font-size: 12px;
}

.top-song-rank {
  font-size: 40px;
  color: rgb(130 200 220);
}
.low-song-rank {
  font-size: 25px;
  color: #bbb;
}

.low-song-img,.low-song-img img{
  width: 70px;
}
.low-song-des .low-song-name{
  font-size: 14px;
}
.low-song-des .low-song-auth{
  font-size: 10px;
}
/* footer */
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100px;
  margin-top: 50px;
  padding-bottom: 120px;
  box-sizing: unset;
  background-color: rgb(130 200 220);
}
.social {
  display: flex;
  margin: 20px 0;
  justify-content: space-around;
  width: 14%;
}
.social a{
  color: #000;
}
.social .icon-social:hover{
  opacity: 0.6;
  cursor: pointer;
}
.contact {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  text-align: center;
}



/* Con-trol css */



.dashboard {
  display: flex;
  align-items: center;
  background-color: #181818;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
  color: #fff;
  z-index: 1000;
}

.player-header {
  margin-right: 50px;
  width: 250px;
}

.player-header h2 {
  font-size: 16px;
}

.cd {
  width: 50px;
  margin: 0 10px 0 20px;
  
}

.cd-thumb {
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  background-color: #333;
  background-size: cover;
  /* margin: auto; */
}

.control {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.control-song {
  display: flex;
  margin-bottom: 10px;
}

.btn {
  font-size: 16px;
  font-weight: 100;
}

.btn-repeat {
  margin-right: 50px;
  font-size: 17px;
}

.btn-prev {
  margin-right: 50px;
}

.btn-toggle-play {
  margin-right: 50px;
}

.player .icon-pause {
  display: none;
}

.player.playing .icon-pause {
  display: inline-block;
}

.player.playing .icon-play {
  display: none;
}

.btn-next {
  margin-right: 50px;
}
.btn-random {
  margin-right: 50px;
}

.btn-lyrics {
  margin-right: 40px;
    
}

.btn-listmusic {
  padding: 4px;
}

.btn-volume {
  display: flex;
  margin: 20px;
  align-items: center;
}

.volume-progress {
  width: 70px;
  height: 3px;
  
}

.btn-volume .volume-icon {
  margin-right: 6px;
  display: none;
}

.volume-icon.hearing {
  display: block;
}



.volume-icon.hearing ~ .mute-icon {
  display: none;
}

.displa

.control .btn.active {
  color: var(--primary-color);
}

.control-2 {
  display: flex;
  margin-left: 20px;
  flex-direction: row;
  align-items: center;
}



.progress {
  width: 600px;
  margin-bottom: -5px;
  
}

.playlist {
  position: fixed;
  top: 50px;
  right: 0;
  background-color: #2d2f32;
  /* background-color: #fff; */
  color: rgb(167, 165, 165);
  /* bottom: 0; */
  width: 320px;
  z-index: 10;
  /* bottom: 90px; */
  height: calc(100vh - 146px);
  overflow-y: scroll; 
}

.btn-listmusic.active {
  color: var(--primary-color);
}

.show {
  display: block;
}

.hiden {
  display: none;
}

.playlist-heading {
  font-size: 20px;
  font-weight: 500;
  padding-top: 20px;
  color: #a8a8aa;
  text-align: center;
  margin-bottom: 20px;
}

.playlist::-webkit-scrollbar {
  width: 5px;
  background-color: #7b7c7f;
  
}

.playlist::-webkit-scrollbar-track {
  background-color: #2d2f32;
}

.playlist::-webkit-scrollbar-thumb {
  background-color: #000;
  
}

.song {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 10px 10px ;
  position: relative;
  border-radius: 4px;
  margin: 0 2px;
}

.song:hover {
  background-color: #2d2f32;
  cursor: pointer;
}

.song.active {
  background-color: #7200a1;
}
.song:active {
  opacity: 0.8;
}
.song .thumb {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2px;
  margin-right: 10px;
  margin-left: 10px;

}

.song.active .author,
.song.active .title {
  color: #fff;
}


.song .title {
  font-size: 14px;
  font-weight: 300;
  color: #bdbebe;
}

.song .author {
  font-size: 13px;
  color: #7d7e80;
}

.song .btn-download {
  margin-left: 20px;
  position: absolute;
  top: 30px;
  right: 10px;
  font-size: 15px;
  text-decoration: none;
  color: #bdbebe;
}

.song .btn-download:hover {
  color: #000;
}

/* 
@keyframes show {
  from {
    tran
  }
} */