* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  background: #fff;
}



.header{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(130 200 220);
  display: flex;
  justify-content: center;
  border-radius: 8px;
}

.header-content {
  display: flex;
  height: 50px;
  width: 1000px;
  max-width: 100%;
  
}
.logo {
  font-size: 40px;
  text-decoration: none;
  color: whitesmoke;
}
.logo:hover{
  transform: scale(1.15);
}
.menu{
  flex: 7;
  w
}
.menu .type-list{
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu .type-list .type-item{
  width: 17%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  cursor: pointer;
}
.type-list .type-item:hover{
  color: rgb(130 200 220);
  background-color: whitesmoke;
  border-radius: 8px;
}
.user {
  color: whitesmoke;
  position: relative;
  font-size: 26px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.user p {
  font-size: 18px;
}
.user .sort-down{
  font-size: 18px;
  margin-bottom: 4px;
}
.user-info a{
  text-decoration: none;
  color: #ccc;
}

.user-info{
  margin-left: 8px;
  background-color: black;
  color: #ccc;
  position: absolute;
  top: 50px;
  font-size: 12px;
  width: 90%;
  border-radius: 8px;
  display: none;
}
.user:hover .user-info{
  display: block;
}
.user-info span{
  display: flex;
  padding-top: 2px;
  padding-bottom: 2px;
  
}





/* content */

.content-flex{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.content {
  width: 1000px;
  max-width: 100%;
  padding-top: 50%;
  background-image: url(./img/background.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
}